
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
<div>
    year:@ViewBag.year<br/>
    month:@ViewBag.month<br />
    day:@ViewBag.day<br />
    id:@ViewBag.id<br />
</div>
</body>
</html>
