
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataExchange</title>
</head>
<body>
<div>
    接收get传的值：@ViewBag.Id1
    <hr/>
    接收post传的值：@ViewBag.Id2
    
    
</div>
</body>
</html>
