<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="server=.;uid=sa;pwd=hjlsqh;database=demo"/>
  </connectionStrings>
  
  <appSettings>
    <add key="Version" value="1.0.0.1"/>
    <add key="SqlConn" value="server=.;uid=sa;pwd=hjlsqh;database=demo"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>